# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd
import seaborn as sb

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
import matplotlib as pl
#попробую через функцию, чтобы для следующих заданий менять столбец index
def plotyy(data, index):
    pv = pd.pivot_table(data, index = index, values = 'debt', aggfunc = ['count', 'sum', 'mean']).reset_index()
    pv.columns = [index, 'кол-во взявших кредит', 'кол-во просрочивших', 'доля просрочивших кредит']
    pv = pv.sort_values('доля просрочивших кредит', ascending = False)
    display(pv)
    
plotyy(data,'children')

,children,кол-во взявших кредит,кол-во просрочивших,доля просрочивших кредит
4,4,41,4,0.097561
2,2,2052,194,0.094542
1,1,4808,444,0.092346
3,3,330,27,0.081818
0,0,14091,1063,0.075438
5,5,9,0,0.000000

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
# Код ревьюера

# Пример с groupby, тут мы группируем и для каждой группы считаем кол-во, сумму и среднее значение
display(data.groupby('children')['debt'].agg(['count', 'sum', 'mean']))

# Аналогичное построение с pivot_table
display(data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean']))

          count   sum      mean
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

          count   sum      mean
           debt  debt      debt
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

In [24]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

#подсчет должников
#is_debt = data.loc[data['debt'] == 1].count()
#подсчет людей, отдавших долг в срок
#is_not_debt = data.loc[data['debt'] == 0].count()
#соотношение количества должников к общему количеству людей
#debt_division = is_debt / is_not_debt
#debt_division = round(debt_division, 2)
#вывод
#print('количество должников составляет ', end = '')
#print(int(debt_division[0] * 100), '% от общего количества людей.',end = '')
#print(data['children'].unique())

#__________________________________Исправленный код ниже все, что ниже__________________________________

#выбираем всех людей с n-ым кол-вом детей и делим их по категориям
#child_0_total = data.loc[data['children'] == 0]
#child_1_total = data.loc[data['children'] == 1]
#child_2_total = data.loc[data['children'] == 2]
#child_3_total = data.loc[data['children'] == 3]
#child_4_total = data.loc[data['children'] == 4]
#child_5_total = data.loc[data['children'] == 5]

#выбираем людей с n-ым кол-вом детей и долгом 
#child_0_debt = child_0_total.loc[child_0_total['debt'] == 1].count()
#child_1_debt = child_1_total.loc[child_1_total['debt'] == 1].count()
#child_2_debt = child_2_total.loc[child_2_total['debt'] == 1].count()
#child_3_debt = child_3_total.loc[child_3_total['debt'] == 1].count()
#child_4_debt = child_4_total.loc[child_4_total['debt'] == 1].count()
#child_5_debt = child_5_total.loc[child_5_total['debt'] == 1].count()

#расчитываем процент (кол-во людей с N детьми и долгом) / (общее кол-во людей с N детей) и выводим
#child_0_debt_percent = child_0_debt / child_0_total.count()
#child_1_debt_percent = child_1_debt / child_1_total.count()
#child_2_debt_percent = child_2_debt / child_2_total.count()
#child_3_debt_percent = child_3_debt / child_3_total.count()
#child_4_debt_percent = child_4_debt / child_4_total.count()
#child_5_debt_percent = child_5_debt / child_5_total.count()

#переводим всё в нормальные проценты и в тип int, а то там страшные длинные цифры
#c_0 = int(round(child_0_debt_percent['children'],2) * 100)
#c_1 = int(round(child_1_debt_percent['children'],2) * 100)
#c_2 = int(round(child_2_debt_percent['children'],2) * 100)
#c_3 = int(round(child_3_debt_percent['children'],2) * 100)
#c_4 = int(round(child_4_debt_percent['children'],2) * 100)
#c_5 = int(round(child_5_debt_percent['children'],2) * 100)

#выводим % на экран
#print('Процент долга людей без детей от общего кол-ва людей =', c_0, '%')
#print('Процент долга людей с 1-м ребенком от общего кол-ва людей =', c_1, '%')
#print('Процент долга людей с 2-мя детьми от общего кол-ва людей =', c_2, '%')
#print('Процент долга людей с 3-мя детьми от общего кол-ва людей =', c_3, '%')
#print('Процент долга людей с 4-мя детьми от общего кол-ва людей =', c_4, '%')
#print('Процент долга людей с 5-ю детьми от общего кол-ва людей =', c_5, '%')

#display(data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean']))

#Вывод
#print('Исходя из полученных данных можно сделать вывод, что в среднем, чем больше у людей детей, тем меньше шанс, что долг они отдадут ')

plotyy(data, 'family_status')

,family_status,кол-во взявших кредит,кол-во просрочивших,доля просрочивших кредит
0,Не женат / не замужем,2796,273,0.097639
3,гражданский брак,4134,385,0.093130
4,женат / замужем,12261,927,0.075606
1,в разводе,1189,84,0.070648
2,вдовец / вдова,951,63,0.066246

**Вывод:** 

Исходя из полученных данных можно сделать вывод, что в среднем, чем больше у людей детей, тем меньше шанс, что долг они отдадут

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#data_new_rich = data.sort_values(by = 'total_income')
#data_new_poor = data.sort_values(by = 'total_income', ascending = False)

# посчитаем среднее значение для total_income
#income = data['total_income'].mean()

#разделим датасет на 2 части (первая половина - богатые, вторая половина - бедные)
#и посчитаем для этих групп, кто же сдал долг/кредит в срок
#data_rich = data.loc[data['total_income'] >= income, 'debt']
#data_poor = data.loc[data['total_income'] < income,'debt']

#print(data_rich)
#print('Кол-во должников среди населения с низкой зарплатой:',data_rich.sum())
#print('Кол-во должников среди населения с высокой зарплатой:',data_poor.sum())

#среди "бедных" людей намного больше должников (619 против 1113), поэтому сделаем вывод, 
#что люди с маленькой зарплатой намного реже (в 2 раза) возвращают долг/кредит

plotyy(data, 'total_income_category')

,total_income_category,кол-во взявших кредит,кол-во просрочивших,доля просрочивших кредит
4,E,22,2,0.090909
2,C,15921,1353,0.084982
0,A,25,2,0.080000
1,B,5014,354,0.070602
3,D,349,21,0.060172

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

#выведем таблицу с целями кредита по категориям (частные случаи)
#нам не нужны, так как мы должны рассматривать именно категории, а иначе бы
#не сможем определить эту самую "категорию"
#print(data['purpose_category'])

#посчитаем количество "встреч" каждой категории в данной таблице
#print(data['purpose_category'].value_counts())
#здесь мы получили всего 4 категории, теперь посчитаем для каждой категории "бедных" и 
# и "богатых" и сравним процентное соотношение людей погасивыших кредит к непогасившим.

#подсчет % соотношения по каждой категории
#data.loc[data['total_income'] < income,'debt']
#data_house = data.loc[data['purpose_category'] == 'операции с недвижимостью']
#data_auto = data.loc[data['purpose_category'] == 'операции с автомобилем']
#data_study = data.loc[data['purpose_category'] == 'получение образования']
#data_wedding =data.loc[data['purpose_category'] == 'проведение свадьбы']

#print(data_house,data_auto,data_study,data_wedding)

#подсчет самого процентного соотношения
#data_house_count = data_house.loc[data_house['debt'] == 1].shape[0] / data_house.shape[0]
#data_auto_count = data_auto.loc[data_auto['debt'] == 1].shape[0] / data_auto.shape[0]
#data_study_count = data_study.loc[data_study['debt'] == 1].shape[0] / data_study.shape[0]
#data_wedding_count = data_wedding.loc[data_wedding['debt'] == 1].shape[0] / data_wedding.shape[0]


#print('Операции с недвижимостью, процентное соотношение = ',round(data_house_count,2), 'из 1')
#print('Операции с автомобилем, процентное соотношение = ', round(data_auto_count,2), 'из 1')
#print('Операции с образованием, процентное соотношение = ', round(data_study_count,2), 'из 1')
#print('Операции со свадьбой, процентное соотношение = ', round(data_wedding_count,2), 'из 1')

# Из этих данных можно понять, что самые маленькие по сумме кредиты (обучение, которое в среднем 
# от 100 до 400 тыс.руб. Автомобиль, - все это люди выплачивают с большей долей вероятности, нежели)
# кредит, связанный с жильем.


plotyy(data,'purpose_category')

,purpose_category,кол-во взявших кредит,кол-во просрочивших,доля просрочивших кредит
0,операции с автомобилем,4279,400,0.093480
2,получение образования,3988,369,0.092528
3,проведение свадьбы,2313,183,0.079118
1,операции с недвижимостью,10751,780,0.072551

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
Пропуски скорее всего возможны в следующих случаях:
а) Например, если человек проходит опрос, либо же регистрируется на каком-то сайте/сервисе, то там часто необходимо ввести данные о себе, некоторые из которых являются необязательными, поэтому многие их пропускают. Таким образом могут появиться пропуски, и если они относятся к категориальным переменным, то заполнять "медианным" значением их не рекомендуется, а если "количественные", то можно брать среднее/медианное значение переменных.
б) Пропуски могут появиться в следствие ошибки разработчика, программиста. Например, если у нас изначально неправильный формат данных, пример: в ячейке возраста значения не int, а object. Тогда у нас будут значения None в таких ячейках
в)Пропуски могут появиться также из-за некорректного переноса данных из одного датасета в другой.

-Существует еще очень много-много разных других причин, из-за которых могут возникать ошибки/пропуски в данных, которые зависят от многих факторов.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 

Заполнить пропущенные значения заполнить медианным значением для количественных переменных являются лучшим решение, так как количественные переменные обычно не так сильно страдают от влияния "выбросов" или "шумов", поэтому если данных очень много, то заполнение данных mean() никак не помешает анализу данных, так как будет браться среднее значение от всех данных.

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

В ходе данной работы мы столкнулись с DF, в котором нужно было убирать пропуски, добавлять столбцы, исправлять ошибки в данных, заменять тип данных с неправильного на правильный и.т.д.. Также, были исправлены очень "странные" значения, такие как почти "бесконечные" зарплаты у людей, или когда человеку 20 лет, а наработал он уже целых 50.

Также, были получены ответы на вопросы и построены следующие зависимости:

-Количество детей в семье влияет на погашение кредита в срок, то есть чем больше детей, тем меньше шанс, что кредит отдадут.

-Семейное положение не сильно влияет на общую картину. Но можно сказать, что полноценные семьи (женатые) с немного, но большей долей вероятности отдадут кредит.

-Уровень дохода конечно влияет на кредит, так, люди с большой зарплатой либо не берут кредиты, так как им хватает заработка (категория A), а люди с маленькой даже их не берут (может из-за заработка банк не может одобрить). Самая большая доля кредитов приходится на средний класс, где процент должников составляет 8-9% от общего кол-ва людей.

-Цели кредита имеют большое значение на возрат кредита. Так, например, если кредит берется на покупку авто или обучение, то он с меньшим шансом будет отдан, нежели чем ипотека, которую обычно берут люди с высокой заработной платой.